<div class="container mt-5">
    <div class="row">
         <div class="col-md-6 col-sm-6">
            <div class="row">
              <h4 class="text-dark">Kids Dresses<span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="row float-end me-2">
                <a class="text-decoration-none ShowMoreBtn" href="/kid">Show More</a>
            </div>
        </div>
     


          
         <div class="col-md-3 col-sm-6">
           <a href="/kid" class="text-decoration-none text-dark">
            {{!-- <div class="row border rounded"> --}}
                <img class="mt-3 mx-auto " src="../Image/5kb0c_512.webp" style="height: 349px;width:236px">
                 {{#each kiddata}}
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/kid">Buy Now</a>
            {{!-- </div> --}}
            </a>
        </div>






<div class="col-md-3 col-sm-6">
           <a href="/kid" class="text-decoration-none text-dark">
            {{!-- <div class="row border rounded ms-2"> --}}
                <img class="mt-3 mx-auto " src="../Image/d84mk_400.webp" style="height: 349px;width:236px">
                 {{#each kiddata}}
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/kid">Buy Now</a>
            {{!-- </div> --}}
            </a>
        </div>





        <div class="col-md-3 col-sm-6 border rounded ms-2">
           <a href="/kid" class="text-decoration-none text-dark">
            {{!-- <div class="row border rounded ms-2"> --}}
                <img class="mt-3 mx-auto " src="../Image/kbqpo_400.webp" style="height: 349px;width:236px">
                 {{#each kiddata}}
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/kid">Buy Now</a>
            {{!-- </div> --}}
            </a>
        </div>












        <div class="col-md-3 col-sm-6">
           <a href="/kid" class="text-decoration-none text-dark">
            <div class="row border rounded ms-2">
                <img class="mt-3 mx-auto " src="../Image/lzta4_400.webp" style="height: 349px;width:236px">
                {{#each kiddata}}
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/kid">Buy Now</a>
            </div>
            </a>
        </div>

    </div>
</div>