<div class="container mt-5">
    <div class="row">
         <div class="col-md-6 col-sm-6">
            <div class="row">
              <h4 class="text-dark">Womens Dresses<span>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="row float-end me-2">
                <a class="text-decoration-none ShowMoreBtn" href="/women">Show More</a>
            </div>
        </div>
     
         
 <div class="col-md-3 col-sm-6">
            <a href="/women" class="text-decoration-none text-dark">
            {{#each mydata}}
            <div class="row border rounded">
                <img class="mt-3 mx-auto " src="../Image/0ioi6_400.webp" style="height: 349px;width:236px">
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/women">Buy Now</a>
            </div>
                {{/each}}
            </a>
        </div>


{{!-- <div class="col-md-3 col-sm-6">
            <a href="/women" class="text-decoration-none text-dark">
            <div class="row border rounded ms-2">
                <img class="mt-3 mx-auto " src="../Image/gey7a_400.webp" style="height: 349px;width:236px">
                {{#each mydata}}
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/women">Buy Now</a>
            </div>
            </a>
        </div> --}}




{{!-- 
<div class="col-md-3 col-sm-6">
            <a href="/women" class="text-decoration-none text-dark">
            <div class="row border rounded ms-2">
                <img class="mt-3 mx-auto " src="../Image/jzzh2_512.webp" style="height: 349px;width:236px">
                {{#each mydata}}
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/women">Buy Now</a>
            </div>
            </a>
        </div> --}}




{{!-- <div class="col-md-3 col-sm-6">
            <a href="/women" class="text-decoration-none text-dark">
            <div class="row border rounded ms-2">
                <img class="mt-3 mx-auto " src="../Image/1_512.webp" style="height: 349px;width:236px">
                {{#each mydata}}
                <span class="mt-3 mx-auto mt-2">{{ProductName}}</span>
                <br>
                <span class="mt-3 mx-auto mt-2">{{Price}}</span>
                {{/each}}
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/women">Buy Now</a>
            </div>
            </a> --}}
        </div>















{{!-- 
          <div class="col-md-3 col-sm-6">
            <div class="row border rounded ms-2 ">
                <img class="mt-3 mx-auto " src="../Image/1_512.webp" style="height: 349px"; alt="">
                <span class="mt-3 mx-auto mt-2">Two tone Georgette</span>
                <span class="ms-2 mx-auto mt-2">Rs.273 onwards</span>
                
                <a class="rating ms-2 mx-auto mt-2 mb-2 text-decoration-none" href="/women">Buy Now</a>
            </div>
        </div> --}}




        
    </div>
</div>